body {
  width: 960px;

}

header {
  background-color: black;
  color: white;
  font-size: 22px;
  font-family: sans-serif;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

nav a {
  background-color: lightgrey;
  color: white;
  text-align: center;
  padding:10px;
  margin: 20px;
  font-family: sans-serif;
}

/*this div container holds the HOme, Add a photo and About h refs.  text-align centers the three boxes*/

div.container1 {
  background-color: none;
  text-align: center;
  font-weight: bold;
}


div.container1 a:hover {
  background-color: grey;
}

/*container 2 and container 3 contain the photos*/


div.container2 .photo_footer {
  border: solid;
  display: inline-block;
}

div.container3 .photo_footer {
  border: solid;
  display: inline-block;
}


div.photo_footer {
  background-color: yellow;
  text-align: center;
  width: 300px;
  margin-top: 30px;
  padding-bottom: 8.2px;
}

h4 {
  font-family: sans-serif;
  background-color: lightgreen;
  padding: 11px;
  text-align: left;
}


footer {
  background-color: black;
  font-size: 25px;
}

/*the h6 is for the footer*/

h6 {
  color: white;
  text-align: center;
  padding: 10px;
}

a {
  background-color: none;
  font-weight: bold;
}
