header {
  background-color: black;
  color: white;
  font-size: 22px;
  font-family: sans-serif;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

a {
  background-color: lightgrey;
  color: white;
  text-align: center;
  padding:10px;
  margin: 20px;
  font-family: sans-serif;
}

/*this div container holds the HOme, Add a photo and About h refs.  text-align centers the three boxes*/

div.container1 {
  background-color: none;
  text-align: center;
}

h4 {
  font-family: sans-serif;
  background-color: lightgreen;
  padding: 11px;
  text-align: left;
}


footer {
  background-color: black;
}

/*the h6 is for the footer*/

h6 {
  color: white;
  text-align: center;
  padding: 10px;
}
